.header {
  background: #c6c6c6;
  padding: 20px 20px;
  text-align: center;

}

.add-todo {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #d5e6ca;
  padding: 50px;
  margin-bottom: 20px;
}

.delete {
  display: inline-block;
  float: right;
  color: red;
  font-weight: bold;
  font-size: 25px;
  cursor: pointer;
}

.pages {
  display: block;
  text-align: center;
  margin-top: 30px;
}

.page {
  margin-right: 20px;
  cursor: pointer;
}

.active {
  color: green;
  font-weight: bold;
  font-size: 20px;
}

.copyright {
  display: block;
  text-align: center;
  padding: 15px 20px;
  margin-top: 20px;
}